<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Dashboard Trainer</title>

    <style>
        .status-badge {
            font-size: 0.85rem;
        }

    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('pelatihan')}"></nav>
    <br><br>
    <div class="container">
        <div class="text-center pt-5">
            <h2>Training History</h2>
        </div>
        
        <table class="table table-striped mt-4" id="tablePelatihan">
            <thead>
                <tr>
                    <th>Nama Pelatihan</th>
                    <th>Jumlah Pendaftar</th>
                    <th>Status Pelatihan</th>
                    <th>Tipe Pelatihan</th>
                    <th>Penyelenggaraan</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="pelatihan : ${pelatihanList}">
                    <td th:text="${pelatihan.namaPelatihan}"></td>
                    <td> Jumlah Pendaftar</td>
                    <td>
                        <span class="badge status-badge" th:switch="${pelatihan.statusApproval}">
                            <span th:case="1" class="badge bg-warning">Requested</span>
                            <span th:case="2" class="badge bg-primary">Berjalan</span>
                            <span th:case="3" class="badge bg-danger">Rejected</span>
                            <span th:case="4" class="badge bg-primary">Delete Requested</span>
                            <span th:case="5" class="badge bg-success">Selesai</span>
                            <span th:case="*" th:text="${pelatihan.statusApproval}"></span>
                        </span>
                    </td>
                    <td th:text="${pelatihan.tipe}"></td>
                    <td> Penyelenggaraan</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
        $('#tablePelatihan').DataTable({
            "lengthMenu": [5, 10, 20]
        });
    });

    </script>

</body>
</html>